$breakpoints: (
    "sm": 640px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1280px,
    "xxl": 1536px
);

$colors: (
    "white": #fff,
    "black":#000,
    "blue":#007bff,
    "pink":#ff2896,
    "orange":#ff9b65,
    "green": #00d5d5,
    "dark-blue":#1E293A,
    "red": red,
);
$primary-color: #e74c3c;
$secondary-color: #34495e;
$background-gradient: linear-gradient(to bottom, #f7f7f7, #e74c3c);
$card-background: white;
$card-border: 1px solid #ddd;
$card-radius: 8px;
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$button-background: #f7f7f7;
$button-hover-background: #e85b4c;
