@use "partials/layers";

@use "vendor/modern-normalize.css";

@use "partials/globals";
@use "partials/utilities";
@use "partials/forms";
// @use "~ngx-spinner/ngx-spinner.css";
@use "components/container";



