<div class="home-container">
  <div class="header-section">
    <h1>Bienvenue sur Secret Santa !</h1>
    <p>
      Participez à un échange de cadeaux amusant et surprenant avec vos amis et votre famille.
    </p>
  </div>

  <div class="cta">
    <button  routerLink="/register" pButton label="Inscrivez-vous maintenant!" icon="pi pi-user-plus" class="btn"></button>
    <button routerLink="/login"  pButton label="Connectez-vous" icon="pi pi-sign-in" class="btn"></button>
  </div>

  <section class="features">
    <h2>Comment ça marche ?</h2>
    <div class="card-container">
      <div class="card" *ngFor="let feature of features">
        <div class="ribbon"></div>
        <h3>{{ feature.title }}</h3>
        <p>{{ feature.description }}</p>
      </div>
    </div>
  </section>

  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
  </div>
  <div class="gifts" aria-hidden="true">
    
    <div class="gift">🎁</div>
    <div class="gift">🎁</div>
    <div class="gift">🎁</div>
    <div class="gift">🎁</div>
    <div class="gift">🎁</div>
    <div class="gift">🎁</div>
    <div class="gift">🎁</div>
    <div class="gift">🎁</div>
    <div class="gift">🎁</div>
    <div class="gift">🎁</div>
    <div class="gift">🎁</div>
    <div class="gift">🎁</div>²
  </div>
</div>
