@use "../partials/variables" as *;
@use "../partials/mixin" as m;
@use "../partials/functions" as f;


@layer components {

  .container {
    margin: auto;
    padding: 0 1rem;

    @each $name, $size in $breakpoints {
      @media screen and (min-width: $size) {
        max-width: calc($size - 2rem);
      }
    }
  }

  .auth-container {
    @include m.flexbox(column, wrap, center, center);
    padding: 2em;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: $background-gradient; /* Utiliser le même dégradé que la page d'accueil */
    overflow: hidden;
  
    app-form {
      width: 100%;
      max-width: 400px; /* Largeur maximale du formulaire */
      background: rgba(255, 255, 255, 0.9); /* Fond blanc légèrement transparent */
      border-radius: 10px; /* Coins arrondis */
      padding: 20px; /* Espace intérieur */
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Ombre */
      position: relative; /* Pour permettre le positionnement des éléments enfants */
    }

    .auth-link {
      margin-top: 20px; /* Espace au-dessus du lien */
      font-size: 0.9rem; /* Taille de police */
      text-align: center; /* Centrer le texte */
  
      a {
        color: #064d99; /* Couleur du lien */
        text-decoration: none; /* Pas de soulignement par défaut */
  
        &:hover {
          text-decoration: underline; /* Souligner au hover */
        }
      }
    }
  }
}