@use "../partials/variables" as v;
@use "../partials/mixin" as m;
@use "../partials/functions" as f;


@layer components {
  
  .container {
    margin: auto;
    padding: 0 1rem;

    @each $name, $size in v.$breakpoints {
      @media screen and (min-width: $size) {
        max-width: calc($size - 2rem);
      }
    }
  }

  .auth-container{
    @include m.flexbox(column, wrap, center,center);
    height: f.rem(500);
    width: f.rem(500);
    margin:auto;
    app-form {
      width: 100%;
      max-width: 400px;
      margin-bottom: 20px;
    }
    .auth-link {
      margin-top: 10px;
      font-size: 0.9rem;
      text-align: center;
  
      a {
        color: #007bff;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}